{
  "bot": {
    "token": "NzA4NzU5MDc3MzcwNTkzMzMw.XrcBVA.o4-wrHcvsH-BuPbcWhoSfOXjy_s",
    "secret": "zTBq9cVOjEwvo_tKSyK3ib8yY2Bckf3t",
    "ownerId": "218459216145285121",
    "activity": "dlist.xyz",
    "id": "708759077370593330"
  },
  "api": {
    "url": "http://localhost:3000/api/v1",
    "port": 3000,
    "supportInvite": "uDTgxyg"
  },
  "guild": {
    "id": "",
    "reportChannelId": ""
  },
  "dashboardURL": "http://localhost:4200",
  "mongoURL": "mongodb://localhost/DList"
}